{
  "env": {
    "rollup": {
      "presets": [
        [
          "@babel/preset-env", {
            "targets": "> 0.25%, not dead"
          }
        ]
      ]
    },
    "ava": {
      "presets": [
        [
          "@babel/preset-env", {
            "targets": {
              "node": true
            }
          }
        ]
      ]
    }
  }
}
